body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 250px;
    background-color: #888888;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #000000;
    padding: 20px;
}

.title {
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.display {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.button {
    width: 50px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 50%;
    font-size: 1.2em;
}

.button:active {
    background-color: #cccccc;
}

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    justify-content: space-between;
}

.row1 .button, .row2 .button, .row3 .button, .row4 .button, .row5 .button {
    background-color: #f0f0f0;
    color: #000000;
}

.row1 .button:last-child, .row2 .button:last-child, .row3 .button:last-child, .row4 .button:last-child, .row5 .button:last-child {
    background-color: #ff9500;
    color: #ffffff;
}

.row5 .button:first-child {
    width: 110px;
    border-radius: 50px;
}